asgiref==3.8.1
beautifulsoup4==4.12.3
cassandra-driver==3.29.1
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dateutils==0.6.12
Django==4.2.15
django-bootstrap-v5==1.0.11
django-cassandra-engine==1.9.0
django-opensearch-dsl==0.6.2
django-redis==5.4.0
Events==0.5
Faker==26.2.0
geomet==0.2.1.post1
idna==3.7
opensearch-py==2.7.1
pillow==10.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.8
requests==2.32.3
scylla-driver==3.26.9
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
